.dx_progress {
    position: relative;
    overflow: hidden;
    min-width: 200px;
    height: .5rem;
    box-sizing: border-box;
    border-radius: 9999px;
    background: var(--surface-muted);
}

.dx_progress[data-state='indeterminate'] .dx_progress_indicator {
    width: 50%;
    animation: dx-indeterminate 1s infinite linear;
}

.dx_progress_indicator {
    width: var(--progress-value, 0%);
    height: 100%;
    background: var(--accent);
    transition: width 250ms ease;
}

@keyframes dx-indeterminate {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(200%);
    }
}
