.dx_toolbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--space);
    border: none;
    border-radius: var(--radius-surface);
    box-shadow: inset 0 0 0 1px var(--surface-border);
    gap: var(--space);
}

.dx_toolbar_demo {
    display: flex;
    max-width: 30rem;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--space) * 4);
}

.dx_toolbar button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--space) * 2) calc(var(--space) * 3);
    border: none;
    border-radius: calc(var(--radius) - var(--space));
    background: none;
    color: var(--surface-fg);
    cursor: pointer;
    gap: var(--space);
}

.dx_toolbar button:hover:not([disabled]),
.dx_toolbar button:focus-visible {
    background: var(--surface-hover);
    color: var(--surface-hover-fg);
}

.dx_toolbar button:disabled {
    color: var(--surface-disabled-fg);
    cursor: not-allowed;
}

.dx_toolbar_group {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.dx_toolbar_separator {
    width: 1px;
    height: 24px;
    margin: 0 5px;
    background: var(--surface-border);
}

.dx_toolbar_content p {
    padding: 0;
    margin: 0;
}

.dx_toolbar_demo p {
    padding: 0;
    margin: 0;
}
