.dx_toast_container {
  position: fixed;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  max-width: 350px;
}

.dx_toast_container ol {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  margin: 0;
  gap: calc(var(--space) * 3);
}

.dx_toast_container li {
  display: flex;
}

.dx_toast {
  z-index: calc(var(--toast-count) - var(--toast-index));
  display: flex;
  overflow: hidden;
  width: 18rem;
  height: 4rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: calc(var(--space) * 3) calc(var(--space) * 4);
  border: 1px solid var(--overlay-border);
  border-radius: var(--radius-surface);
  margin-top: -4rem;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  filter: none;
  opacity: calc(1 - var(--toast-hidden));
  transform: scale(
    calc(100% - var(--toast-index) * 5%),
    calc(100% - var(--toast-index) * 2%)
  );
  transition: transform 0.2s ease, margin-top 0.2s ease, opacity 0.2s ease;

  --toast-hidden: calc(min(max(0, var(--toast-index) - 2), 1));
}

.dx_toast_container:not(:hover, :focus-within)
  .dx_toast[data-toast-even]:not([data-top]) {
  animation: dx-slide-up-even 0.2s ease-out;
}

.dx_toast_container:not(:hover, :focus-within)
  .dx_toast[data-toast-odd]:not([data-top]) {
  animation: dx-slide-up-odd 0.2s ease-out;
}

@keyframes dx-slide-up-even {
  from {
    transform: translateY(0.5rem)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }

  to {
    transform: translateY(0)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }
}

@keyframes dx-slide-up-odd {
  from {
    transform: translateY(0.5rem)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }

  to {
    transform: translateY(0)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }
}

.dx_toast[data-top] {
  animation: dx-toast-slide-in 0.2s ease-out;
}

.dx_toast_container:hover .dx_toast[data-top],
.dx_toast_container:focus-within .dx_toast[data-top] {
  animation: dx-toast-slide-in 0 ease-out;
}

@keyframes dx-toast-slide-in {
  from {
    opacity: 0;
    transform: translateY(100%)
      scale(
        calc(110% - var(--toast-index) * 5%),
        calc(110% - var(--toast-index) * 2%)
      );
  }

  to {
    opacity: 1;
    transform: translateY(0)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }
}

.dx_toast_container:hover .dx_toast,
.dx_toast_container:focus-within .dx_toast {
  margin-top: calc(var(--space) * 2);
  filter: brightness(1);
  opacity: 1;
  transform: scale(calc(100%));
}

:root[data-theme="dark"] .dx_toast,
html[data-theme="dark"] .dx_toast {
  filter: brightness(calc(0.5 + 0.5 * (1 - ((var(--toast-index) + 1) / 4))));
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"], [data-theme="dark"]) .dx_toast {
    filter: brightness(
      calc(0.5 + 0.5 * (1 - ((var(--toast-index) + 1) / 4)))
    );
  }
}

.dx_toast[data-type="success"] {
  background: var(--success-subtle);
  color: var(--success-subtle-fg);
}

.dx_toast[data-type="error"] {
  background: var(--danger-subtle);
  color: var(--danger-subtle-fg);
}

.dx_toast[data-type="warning"] {
  background: var(--warning-subtle);
  color: var(--warning-subtle-fg);
}

.dx_toast[data-type="info"] {
  background: var(--info-subtle);
  color: var(--info-subtle-fg);
}

.dx_toast_content {
  flex: 1;
  margin-right: calc(var(--space) * 2);
  transition: filter 0.2s ease;
}

.dx_toast_title {
  margin-bottom: var(--space);
  color: var(--overlay-fg);
  font-weight: 600;
}

.dx_toast_description {
  color: var(--fg-muted);
  font-size: 0.875rem;
}

.dx_toast_close {
  align-self: flex-start;
  padding: 0;
  border: none;
  margin: 0;
  background: none;
  color: var(--fg-muted);
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
}

.dx_toast_close:hover {
  color: var(--overlay-fg);
}
