.dx-collapsible-trigger {
  display: flex;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  padding-top: calc(var(--space) * 4);
  padding-bottom: calc(var(--space) * 4);
  border: none;
  background: transparent;
  color: var(--fg);
  outline: none;
  text-align: left;
}

.dx-collapsible-trigger:focus-visible {
  box-shadow: inset 0 0 0 2px var(--focus);
}

.dx-collapsible-trigger:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.dx-collapsible-content {
  display: contents;
}
