.dx_collapsible_trigger {
  display: flex;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  padding-top: var(--surface-padding);
  padding-bottom: var(--surface-padding);
  border: none;
  background: transparent;
  color: var(--fg);
  outline: none;
  text-align: left;
}

.dx_collapsible_trigger:focus-visible {
  box-shadow: inset 0 0 0 2px var(--focus);
}

.dx_collapsible_trigger:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.dx_collapsible_content {
  display: contents;
}
