.dx_navbar {
  display: flex;
  box-sizing: border-box;
  padding: 0.25rem;
  border: none;
  border-radius: var(--radius);
  gap: var(--item-gap);
}

.dx_navbar_nav {
  position: relative;
}

.dx_navbar_trigger,
.dx_navbar > .dx_navbar_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--control-padding-y-md) var(--control-padding-x-lg);
  border: none;
  border-radius: var(--radius);
  background: none;
  color: var(--surface-fg);
  stroke: currentColor;
  cursor: pointer;
  transition: background-color 100ms ease-out;
}

.dx_navbar_nav[data-state="open"] .dx_navbar_trigger {
  background: var(--surface-selected);
  color: var(--surface-selected-fg);
}

.dx_navbar_trigger[data-disabled="true"] {
  color: var(--surface-disabled-fg);
  cursor: not-allowed;
  opacity: 0.5;
}

.dx_navbar_trigger:hover:not([data-disabled="true"]),
.dx_navbar_trigger:focus-visible {
  background: var(--surface-hover);
  color: var(--surface-hover-fg);
  outline: none;
}

/* Include the top margin in the navbar content pointer events */
.dx_navbar_content::before {
  position: absolute;
  top: calc(var(--space) * -2);
  left: 0;
  width: 100%;
  height: var(--floating-offset);
  content: "";
}

.dx_navbar_content {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  min-width: 200px;
  padding: 0.25rem;
  margin-top: var(--floating-offset);
  opacity: 0;
  pointer-events: none;
  transform-origin: top;
  will-change: transform, opacity;
}

.dx_navbar_nav:first-child .dx_navbar_content {
  margin-left: calc(var(--space) * -1);
}

.dx_navbar_content[data-state="closed"] {
  transition: opacity 150ms ease-in, transform 150ms ease-in;
}

.dx_navbar_content[data-state="closed"][data-open-menu-direction="start"] {
  transform: translateX(-100%) scale(0.98);
}

.dx_navbar_content[data-state="closed"][data-open-menu-direction="end"] {
  transform: translateX(100%) scale(0.98);
}

.dx_navbar_content[data-state="closed"][data-open-menu-direction="closed"] {
  transform: translateY(1rem) scale(0.98);
}

.dx_navbar_content[data-state="open"] {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0) translateY(0) scale(1);
  transition: opacity 200ms ease-out,
    transform 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dx_navbar_item {
  display: block;
  padding: var(--list-item-padding-y) var(--list-item-padding-x);
  border-radius: calc(var(--radius) - var(--space));
  color: var(--overlay-fg);
  cursor: pointer;
  font-size: var(--text-sm);
  text-decoration: none;
}

.dx_navbar_item[data-disabled="true"] {
  color: var(--surface-disabled-fg);
  cursor: not-allowed;
  opacity: 0.5;
}

.dx_navbar_item:hover:not([data-disabled="true"]),
.dx_navbar_item:focus-visible {
  background: var(--surface-hover);
  color: var(--surface-hover-fg);
  outline: none;
}

.dx_navbar_expand_icon {
  transition: rotate 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dx_navbar_nav[data-state="open"] .dx_navbar_expand_icon {
  rotate: 180deg;
}
