.dx-badge {
  justify-content: center;
  align-items: center;
  gap: var(--space);
  min-width: 2rem;
  padding: calc(var(--space) / 2) calc(var(--space) * 2);
  border-radius: 99px;
  font-size: 0.8rem;
  display: inline-flex;
}

.dx-badge[padding="true"] {
  padding: 0 calc(var(--space) * 2);
}

.dx-badge[data-variant="primary"] {
  background: var(--accent-subtle);
  color: var(--accent-subtle-fg);
}

.dx-badge[data-variant="secondary"] {
  background: var(--surface-muted);
  color: var(--surface-muted-fg);
}

.dx-badge[data-variant="outline"] {
  border: 1px solid var(--surface-border);
  background: var(--surface);
  color: var(--surface-fg);
}

.dx-badge[data-variant="destructive"] {
  background: var(--danger-subtle);
  color: var(--danger-subtle-fg);
}
