.dx_badge {
  justify-content: center;
  align-items: center;
  gap: var(--space);
  min-width: 2rem;
  padding: var(--fine-gap) var(--control-padding-x-sm);
  border-radius: 99px;
  font-size: var(--text-xs);
  display: inline-flex;
}

.dx_badge[padding="true"] {
  padding: 0 var(--control-padding-x-sm);
}

.dx_badge[data-variant="primary"] {
  background: var(--accent-subtle);
  color: var(--accent-subtle-fg);
}

.dx_badge[data-variant="secondary"] {
  background: var(--surface-muted);
  color: var(--surface-muted-fg);
}

.dx_badge[data-variant="outline"] {
  border: 1px solid var(--surface-border);
  background: var(--surface);
  color: var(--surface-fg);
}

.dx_badge[data-variant="destructive"] {
  background: var(--danger-subtle);
  color: var(--danger-subtle-fg);
}
