.dx_card {
  display: flex;
  flex-direction: column;
  padding-block: var(--surface-padding);
  border: 1px solid var(--surface-border);
  border-radius: var(--radius-surface);
  background: var(--surface);
  color: var(--surface-fg);
  gap: var(--surface-gap);
}

.dx_card_header {
  display: grid;
  align-items: start;
  padding-inline: var(--surface-padding);
  gap: var(--content-gap);
  grid-auto-rows: min-content;
  grid-template-rows: auto auto;
}

.dx_card_header:has([data-slot="card-action"]) {
  grid-template-columns: 1fr auto;
}

.dx_card_title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
}

.dx_card_description {
  color: var(--surface-muted-fg);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.dx_card_action {
  grid-column-start: 2;
  grid-row: 1 / span 2;
  place-self: start end;
}

.dx_card_content {
  padding: 0 var(--surface-padding);
}

.dx_card_footer {
  display: flex;
  align-items: center;
  padding: 0 var(--surface-padding);
}
