.dx_menu_label {
  padding: calc(var(--space) * 2) calc(var(--space) * 3);
  color: var(--surface-muted-fg);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.dx_menu_content {
  z-index: 1000;
  min-width: 200px;
  padding: var(--space);
  animation: dx-menu-content-animate-in 150ms ease-out forwards;
  opacity: 0;
  pointer-events: none;
  transform-origin: top;
  will-change: transform, opacity;
}

.dx_menu_content[data-state="closed"] {
  animation: dx-menu-content-animate-out 150ms ease-in forwards;
  pointer-events: none;
}

@keyframes dx-menu-content-animate-out {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }

  100% {
    opacity: 0;
    transform: scale(0.95) translateY(-2px);
  }
}

.dx_menu_content[data-state="open"] {
  animation: dx-menu-content-animate-in 150ms ease-out forwards;
  pointer-events: auto;
}

@keyframes dx-menu-content-animate-in {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(-2px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.dx_menu_item {
  display: flex;
  align-items: center;
  gap: var(--item-gap);
  padding: calc(var(--space) * 2) calc(var(--space) * 3);
  border-radius: calc(var(--radius) - var(--space));
  color: var(--overlay-fg);
  cursor: pointer;
  font-size: 14px;
  outline: none;
  transition: background-color 100ms ease-out;
  user-select: none;
}

.dx_menu_checkable_item,
.dx_menu_sub_trigger {
  justify-content: space-between;
}

.dx_menu_sub {
  position: relative;
}

.dx_menu_item[data-disabled="true"] {
  color: var(--surface-disabled-fg);
  cursor: not-allowed;
  opacity: 0.5;
}

.dx_menu_item:hover:not([data-disabled="true"]),
.dx_menu_item:focus-visible,
.dx_menu_sub_trigger[data-state="open"] {
  background: var(--surface-hover);
  color: var(--surface-hover-fg);
}

.dx_menu_separator {
  height: 1px;
  margin: var(--space) calc(var(--space) * 2);
  background: var(--overlay-border);
}

.dx_menu_item_indicator {
  display: inline-flex;
  min-width: 1rem;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.dx_menu_item_section {
  margin-left: auto;
  padding-left: calc(var(--space) * 3);
  color: var(--surface-muted-fg);
  font-size: 0.75rem;
}

.dx_menu_sub_trigger::after {
  content: "›";
  color: var(--surface-muted-fg);
}

.dx_menu_sub_content {
  position: absolute;
  top: calc(var(--space) * -1);
  left: 100%;
  margin-top: 0;
  margin-left: var(--space);
  transform-origin: left top;
}

.dx_menu_sub_content[data-side="left"] {
  right: 100%;
  left: auto;
  margin-right: var(--space);
  margin-left: 0;
  transform-origin: right top;
}

.dx_menu_sub_content::before {
  position: absolute;
  top: 0;
  right: 100%;
  width: var(--space);
  height: 100%;
  content: "";
}

.dx_menu_sub_content[data-side="left"]::before {
  right: auto;
  left: 100%;
}
