.dx-separator {
  background: var(--surface-border);
}

.dx-separator[data-orientation="horizontal"] {
  width: 100%;
  height: 1px;
}

.dx-separator[data-orientation="vertical"] {
  width: 1px;
  height: 100%;
}
