.dx_radio_group {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 3);
}

.dx_radio_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--input-fg);
  font-size: 14px;
  gap: calc(var(--space) * 3);
}

.dx_radio_item::before {
  display: block;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border-radius: 1.5rem;
  background: var(--input);
  box-shadow: 0 0 0 1px var(--input-border);
  content: "";
  cursor: pointer;
}

.dx_radio_item:focus-visible {
  outline: none;
}

.dx_radio_item:focus-visible::before {
  box-shadow: 0 0 0 2px var(--focus);
}

.dx_radio_item[data-state="checked"]::before {
  border: 0.25rem solid var(--input);
  background: var(--accent);
}

.dx_radio_item:disabled {
  color: var(--input-disabled-fg);
  cursor: not-allowed;
  opacity: 0.5;
}

.dx_radio_item:disabled::before {
  cursor: not-allowed;
}
