.dx_aspect_ratio_container {
  overflow: hidden;
  box-sizing: border-box;
  padding: var(--surface-padding);
  border-radius: var(--radius-surface);
}

.dx_aspect_ratio_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
