.dx-color-input {
    display: flex;
    width: 100%;
    min-width: 0;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    border: 0;
    margin: 0;
    appearance: none;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: 1.5;
    outline: 0;
    text-align: start;
}

.dx-color-input-field:disabled {
    color: var(--input-disabled-fg);
    cursor: not-allowed;
}

.dx-color-input-popover-root {
    width: 100%;
}

.dx-color-input-color-swatch {
    background: var(--swatch-color);
    border-radius: var(--radius-control);
    width: calc(var(--input-height) - var(--space) * 4);
    height: calc(var(--input-height) - var(--space) * 4);
    border: 1px solid var(--fg);
}