.dx_slider {
    position: relative;
    display: flex;
    min-width: 200px;
    align-items: center;
    padding: var(--control-padding-y-md) 0;
    touch-action: none;
}

.dx_slider[data-orientation="vertical"] {
    width: auto;
    height: 200px;
    flex-direction: column;
}

.dx_slider_track {
    position: relative;
    height: 0.5rem;
    box-sizing: border-box;
    flex-grow: 1;
    border-radius: 9999px;
    background: var(--surface-muted);
}

.dx_slider[data-orientation="vertical"] .dx_slider_track {
    width: 4px;
    height: 100%;
}

.dx_slider_range {
    position: absolute;
    height: 100%;
    border-radius: 9999px;
    background: var(--accent);
}

.dx_slider[data-orientation="vertical"] .dx_slider_range {
    width: 100%;
}

.dx_slider_thumb {
    all: unset;
    position: absolute;
    top: 50%;
    display: block;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 0;
    border-radius: 50%;
    background: var(--surface);
    box-shadow: inset 0 0 0 1px var(--accent);
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0);
    transition: box-shadow 150ms;
    will-change: left, bottom, transform;
}

.dx_slider[data-orientation="vertical"] .dx_slider_thumb {
    left: 50%;
    transform: translate3d(-50%, 50%, 0);
}

.dx_slider_thumb:focus-visible[data-dragging="true"],
.dx_slider_thumb:focus-visible,
.dx_slider_thumb:hover {
    box-shadow: inset 0 0 0 1px var(--accent),
        0 0 0 4px var(--focus-ring-strong);
    transition: box-shadow 150ms;
}

.dx_slider[data-disabled="true"] {
    cursor: not-allowed;
    opacity: 0.5;
}

.dx_slider[data-disabled="true"] .dx_slider_thumb {
    cursor: not-allowed;
}
